@charset "UTF-8";
*{
  margin:0;
  padding:0;
  font-size:14px;
  line-height:1.3;
  font-family:'Noto Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
  box-sizing:border-box;
}
p, h6, h5, h4, h3, h2, h1, hr{
  margin:15px 10px;
}
h1{font-size:19px}
h2{font-size:18px}
h3{font-size:17px}
h4{font-size:16px}
h5{font-size:15px}
h6{font-size:14px}
textarea{
  font-family:'Noto Sans Mono', 'Noto Sans Mono CJK sc', 'Noto Sans Mono CJK jp', 'Noto Sans Mono CJK tc', 'Noto Sans Mono CJK kr', D2Coding, 나눔고딕코딩, monospace;
  font-style:normal;
  font-weight:400;
  font-feature-settings: "liga" 0, "calt" 0, "zero";
}
.topbar, .tabmenu, button{
  font-style:bold;
  font-weight:700;
}
button{
  -webkit-appearance:none;
}
.tabmenu ul{
  list-style:none;
}
.topbarWrap{
  padding:10px 7px;
  height:60px;
  box-sizing:content-box;
  overflow:hidden;
}
.topbar{
  overflow-x:scroll;
  overflow-y:hidden;
  height:90px;
  box-sizing:content-box;
  white-space:nowrap;
}
.barCon{
  vertical-align:bottom;
  height:60px;
  padding:0 5px;
  margin:0 3px;
  position:relative;
}
.barCon, .barCon *{
  font-size:15px;
}
.tabmenu{
  max-width:100%;
  position:relative;
}
.tabmenu ul li{
  display:block;
  width:33.3%;
  float:left; 
  text-align:center;
  line-height:40px;
}
.tabmenu label{
  display:block;
  width:100%;
  height:40px;
  background:#f9f9f9;
  line-height:40px;
}
.tabmenu input{
  display:none;
}
.tabCon{
  text-align:left;
  padding:5px;
  height:calc(100vh - 120px);
  border:5px solid #f9f9f9;
}
@media (max-width: 800px){
.tabCon{
  position:absolute;
  top:40px;
  left:0;
  display:none;
  width:100%;
}
.tabmenu input:checked ~ label{
  background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}
} /* @media end */
@media (min-width: 801px){
.tabCon{
  width:100%;
}
.tabmenu label{
  pointer-events:none;
  background:#ccc;
}
} /* @media end */
.tabCon textarea{
  box-sizing:border-box;
  width:100%;
  height:100%;
  padding:15px;
  border:none;
  resize:none;
  white-space:nowrap;
}
.noline, .noline tr, .noline td{
  border:none;
}
.noline td{
  padding:5px;
}