@charset "UTF-8";
*{
  margin:0;
  padding:0;
  font-size:inherit;
  line-height:1.3;
  font-family:'Noto Sans', 'Noto Sans CJK kr', 'Noto Sans CJK tc', 'Noto Sans CJK jp', 'Noto Sans CJK sc', 본고딕, 나눔바른고딕, 나눔고딕, NanumGothic, 맑은고딕, 'Malgun Gothic', 'Segoe UI', Arial, Tahoma, Verdana, sans-serif;
  box-sizing:border-box;
}
html, body{
  font-size:14px;
  height:100%;
  width:100%;
}
p, h6, h5, h4, h3, h2, h1, hr{
  margin:15px 10px;
}
h1{font-size:19px}
h2{font-size:18px}
h3{font-size:17px}
h4{font-size:16px}
h5{font-size:15px}
h6{font-size:14px}
textarea{
  font-family:'Noto Sans Mono', 'Noto Sans Mono CJK sc', 'Noto Sans Mono CJK jp', 'Noto Sans Mono CJK tc', 'Noto Sans Mono CJK kr', D2Coding, 나눔고딕코딩, monospace;
  font-style:normal;
  font-weight:400;
  font-feature-settings: "liga" 0, "calt" 0, "zero";
}
h2 a{color:inherit;}
.topbar, .tabmenu, button{
  font-style:bold;
  font-weight:700;
}
button{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background:#ddd;
  border-width:1px;
  border-style:dashed;
  border-radius:5px;
}
.valign, .valign td{
  vertical-align:top;
}
.nw{
  white-space:nowrap;
  word-break:keep-all;
}
.versign{
  position:absolute;
  z-index:1;
  /*text-shadow:.5px 1px 0 #fff, -.5px 1px 0 #fff;*/
  padding-left:3px;
  padding-top:1px;
  font-weight:bold;
}
.indexitem{
  margin:10px 10px 10px 30px;
  color:inherit;
}
.indexitem a{
  color:inherit;
}
.barTabWrap{
  display:flex;
  flex-flow:column;
  height:100%;
}
.topbar{
  box-sizing:content-box;
  line-height:55px;
}
.vbar{
  width:3px;
  height:50px;
  display:inline-block;
  vertical-align:bottom;
}
.tabmenu ul{
  list-style:none;
}
.barCon{
  vertical-align:bottom;
  height:50px;
  padding:0 4px;
  margin:0 2px;
}
.barCon, .barCon *{
  font-size:12px;
}
.topbarWrap{
  padding:10px 7px;
  box-sizing:content-box;
  overflow:hidden;
}
.tabWrap{
  flex-grow:1;
}
.tabmenu{
  width:100%;
  height:100%;
}
.tabmenu ul{
  height:100%;
  position:relative;
}
.tabmenu ul li{
  display:block;
  float:left;
  width:33.33%;
  text-align:center;
  line-height:40px;
  height:100%;
}
.tabmenu label{
  display:block;
  width:100%;
  height:40px;
  line-height:40px;
}
.tabmenu input{
  display:none;
}
.tabCon{
  text-align:left;
  padding:5px;
  position:absolute;
  top:40px;
  height:calc(100% - 40px);
  border-width:5px;
  border-style:solid;
  border-color:#eee;
}
@media (max-width: 800px){
  .tabCon{
    display:none;
    width:100%;
    left:0;
  }
  .tabmenu input:checked ~ label{
    font-size:inherit;
  }
  .tabmenu input:checked ~ .tabCon{
    display:block;
  }
}
@media (min-width: 801px){
  .tabCon{
    width:33.33%;
  }
  .tabmenu label{
    pointer-events:none;
  }
}
.tabCon textarea{
  box-sizing:border-box;
  width:100%;
  height:100%;
  padding:15px;
  border:none;
  resize:none;
  white-space:nowrap;
}
.noline, .noline tr, .noline td{
  border:none;
}
.noline td{
  padding:5px;
}
#gototop{
  position:fixed;
  z-index:1;
  right:5px;
  bottom:25%;
  display:block;
  color:rgba(.25,.25,.25,.25);
  text-decoration:none;
  font-size:18px;
}

/*theme*/
body{
  background:#fff;
  color:#000;
}
a{
  color:#06f;
}
button{
  background:#ddd;
  border-color:#333;
}
textarea, input{
  background:#fff;
  color:#000;
}
.versign{
  color:black;
  text-shadow:.5px 1px 0 #fff, -.5px 1px 0 #fff;
}
.vbar{
  background:#ddd;
}
.tabmenu label{
  background:#eee;
}
.tabCon{
  border-color:#eee;
}
@media (max-width: 800px){
  .tabmenu input:checked ~ label{
    background:#bbb;
  }
}
@media (min-width: 801px){
  .tabmenu label{
    background:#bbb;
  }
}
#gototop{
  color:rgba(0,0,0,.35);
}
@media (prefers-color-scheme: dark) {
  body{
    background:#222;
    color:#eee;
  }
  a{
    color:#f90;
  }
  button{
    background:#444;
    color:#eee;
    border-color:#aaa;
  }
  textarea, input{
    background:#222;
    color:#eee;
  }
  .versign{
    color:white;
    text-shadow:.5px 1px 0 #000, -.5px 1px 0 #000;
  }
  .vbar{
    background:#666;
  }
  .tabmenu label{
    background:#111;
    color:#aaa;
  }
  .tabCon{
    border-color:#111;
  }
  @media (max-width: 800px){
    .tabmenu input:checked ~ label{
      background:#555;
      color:#fff;
    }
  }
  @media (min-width: 801px){
    .tabmenu label{
      background:#555;
      color:#fff;
    }
  }
  #gototop{
    color:rgba(255,255,255,.35);
  }
}